@using ApplicationCore.Models
@model ApplicationCore.Models.CastDetailsModel

<h1>Cast Details</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="@Model.ProfilePath"/>
        </div>
        <div class="col">
            <h1>@Model.Name</h1>
            @if (Int32.Parse(@Model.Gender) == 1)
            {
                <h3>Female</h3>
            }
            @if (Int32.Parse(@Model.Gender) == 2)
            {
                <h3>Male</h3>
            }
                 
            <h3>
                Details: is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                essentially unchanged.
            </h3>
        </div>
    </div>
    <hr />
    @foreach (var movie in @Model.Movies)
    { 
        <div class="row">
                <div class="col">
                    <img src="@movie.PosterUrl" width="75" height="100"/>
                </div>
                <div class="col">
                    <h4 class="text-start">@movie.Title</h4>
                    <h5 class="text-end">@movie.Character</h5>
                </div>
            <hr />
        </div>
    }
</div>

